body {
    padding:0px;
    margin:0px;
}

#Menu{
    background-color: cornflowerblue;
    width: 100%;
    height: 12%;
    position: absolute;
    z-index: 1;
    }
#Head1{
     color: white;
}
#Content{
    top:12%;
    left: 2%;
    position: absolute;
    width:90%;
    height:90%;
}

.Main_Menu
    {
        width: 120px;
        background-color: white;
        color: blue;
        text-align: center;
        height: 30px;
        line-height: 30px;
        margin-right: 5px;
    }
    .Level_Menu
    {
        width: 130px;
        background-color: lightblue;
        color: #0026ff;
        text-align: center;
        height: 30px;
        line-height: 30px;
        margin-top: 5px;
    }
    .selected
    {
        background-color: lightblue;
        color: #0026ff;
    }
   
#form_login{
    width: 700px;
    height: 600px;
    padding: 10px;
    


}
