body {
    padding:0px;
    margin:0px;
}
#Links{
    background-color: deepskyblue;
    width: 100px;
    height: 100%;
    position:absolute;
    z-index: 0;
}
#Menu{
    background-color: cornflowerblue;
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 1;
}
#Content{
    top:110px;
    left:110px;
    position: absolute;
    width:100%;
    height:100%;
}